<%- include('./partials/navbar') %>
    <link rel="stylesheet" href="/css/style.css">
    <title>Profile</title>

    <div class="container">
        <h1>Profile</h1>
        <% if(message === 'success' ){ %>
            <div class="profile">
                <div class="data">
                    <div class="form-data">
                        <label for="id">User ID</label>
                        <p>
                            <%= user.id %>
                        </p>
                    </div>
                    <div class="form-data">
                        <label for="name">Name</label>
                        <p>
                            <%= user.name %>
                        </p>
                    </div>
                    <div class="form-data">
                        <label for="username">Username</label>
                        <p>
                            <%= user.username %>
                        </p>
                    </div>
                    <div class="form-data">
                        <label for="email">Email</label>
                        <p>
                            <%= user.email %>
                        </p>
                    </div>
                    <div class="form-data">
                        <label for="join_date">User Since</label>
                        <p>
                            <%= user.join_date %>
                        </p>
                    </div>
                    <div class="form-data">
                        <label for="password">Password Hash</label>
                        <p>
                            <%= user.password %>
                        </p>
                    </div>
                </div>
                <div class="profile-links">
                    <a href="#">Edit profile</a>
                </div>
            </div>
            <% }else{ %>
                <div class="message-danger">
                    <h4>Error while fetching data from database</h4>
                    <p>Please try again after some time!</p>
                </div>
            <% } %>
    </div>